/* CSS Document */

.header{
	text-align:left;
	vertical-align:middle;
	text-indent:15px;
	font-size:18px;
	height:70px;
    color:white;
	border-bottom:1px solid #000000;
    
    background: rgb(198,20,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(198,20,0,1) 0%, rgba(147,3,3,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,20,0,1)), color-stop(100%,rgba(147,3,3,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(198,20,0,1) 0%,rgba(147,3,3,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(198,20,0,1) 0%,rgba(147,3,3,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(198,20,0,1) 0%,rgba(147,3,3,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(198,20,0,1) 0%,rgba(147,3,3,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c61400', endColorstr='#930303',GradientType=0 ); /* IE6-9 */
}

.header a:link{color:white;}
.header a:visited{color:white;}
.header a:active{color:white;}
.header a:hover{color:black;}

.mini_header{
	font-size:14px;
	background: url(footer.gif) no-repeat right;
	border-bottom:1px solid #000000;
	color:#000000;
	padding-left:10px;
	
}
    

.subHeader{
    font-weight:bold;
    border-bottom:1px solid #000000;    
    color:white;
    border-top:1px solid #000000;
    padding:1px;
    background: rgb(198,20,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(198,20,0,1) 0%, rgba(147,3,3,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,20,0,1)), color-stop(100%,rgba(147,3,3,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(198,20,0,1) 0%,rgba(147,3,3,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(198,20,0,1) 0%,rgba(147,3,3,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(198,20,0,1) 0%,rgba(147,3,3,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(198,20,0,1) 0%,rgba(147,3,3,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c61400', endColorstr='#930303',GradientType=0 ); /* IE6-9 */
}
.subHeader a:link{color:white;}
.subHeader a:visited{color:white;}
.subHeader a:active{color:white;}
.subHeader a:hover{color:black;}

.footer{
	background:url(footer.gif) no-repeat top center;
	height:11px;
	border-top:1px solid #000000;
	text-align:center;
	vertical-align:middle;
	font-size:12px;
	color:white;
    height:30px; 
    
    background: rgb(198,20,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(198,20,0,1) 0%, rgba(147,3,3,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,20,0,1)), color-stop(100%,rgba(147,3,3,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(198,20,0,1) 0%,rgba(147,3,3,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(198,20,0,1) 0%,rgba(147,3,3,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(198,20,0,1) 0%,rgba(147,3,3,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(198,20,0,1) 0%,rgba(147,3,3,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c61400', endColorstr='#930303',GradientType=0 ); /* IE6-9 */
}

.menu{
	padding-left:10px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	border-right: 3px double #000000;
	vertical-align:top;
    text-align:left;
}

.container{
	border:1px solid #000000;
}

.content{
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
}

.textfield{
	text-indent:5px;
	border: 1px solid #000000;
	background-color:#E8E8E8;
	color:#000000;
}

.listbox{
	text-indent:2px;
	border: 1px solid #000000;
	background-color:#E8E8E8;
	color:#000000;
}

.button{
	border: 1px solid #000000;
	color:white;
    height: 25px; width: 150px;
    background: rgb(198,20,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(198,20,0,1) 0%, rgba(147,3,3,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,20,0,1)), color-stop(100%,rgba(147,3,3,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(198,20,0,1) 0%,rgba(147,3,3,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(198,20,0,1) 0%,rgba(147,3,3,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(198,20,0,1) 0%,rgba(147,3,3,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(198,20,0,1) 0%,rgba(147,3,3,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c61400', endColorstr='#930303',GradientType=0 ); /* IE6-9 */
}

/*				Alternating row colors				*/
.tdTop{
    background-color:#989898;
    font-weight:bold;
    border-bottom:1px solid #000000;
}

.tdBottom{
    font-weight:bold;
    border-top:1px solid #000000;
}

.tdBorder{border:1px solid #000000;background-color:#F0F0F0;}
.tdBorder:hover{border:1px solid #000000;background-color:#E8E8E8;}


.row1{
	background-color:#E8E8E8;
}

.row2{
	background-color:#F0F0F0;
}

table.sortable tbody tr:nth-child(2n) td {
  background-color: #e8e8e8;
}
table.sortable tbody tr:nth-child(2n+1) td {
  background-color: #f0f0f0;
}

/*					Tag classes				*/

body{
	background-color:#CCCCCC;
}

a{
	color:#BB0004;
	text-decoration:none;
}

ul {padding-left:15px;margin-top:0px;list-style-type: square;}

a:hover{
	color:#990000;
	font-weight:bold;
}

table{padding:0px;border:1px solid #580000;margin-bottom: 15px;border-spacing:0px;border-collapse: collapse;background-color:#FFFFFF; }

td{font-size:13px;padding:5px;text-align:center;}


